.dashboard-page {
    padding-top: 80px;
}

.biodata-list-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .custom-button {
    border-radius: 5px;
  }
  
  .dashboard-page {
    background-color: #f0f2f5;
    min-height: 100vh;
  }
  
  h1 {
    color: #333;
  }
  